<!-- +++++ Welcome Section +++++ -->
<div id="about" class="features2">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 centered">
				<!--<img src="assets/img/user.png" alt="Stanley">-->
				<h1>We are Game Developer</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur enim nibh, et dictum nisl vehicula quis. Quisque ultricies ornare ornare. Aliquam fermentum porttitor nisl quis ornare. Duis quis lacus aliquam, molestie mauris non, placerat diam. Sed leo justo, euismod non metus ut, malesuada condimentum tortor. </p>
				
				<p>Phasellus pulvinar lorem a neque vulputate varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Duis eros mauris, porttitor at egestas non, pharetra non ante. Ut ullamcorper fermentum nibh, vel pulvinar ante ultricies in. Vivamus erat est, tristique eu lectus eu, laoreet pulvinar sem. Nullam ac dui vel tellus imperdiet semper. Aenean interdum blandit urna vitae ullamcorper.</p>
				

			</div>
			<!-- /col-lg-8 -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /ww -->


<!-- +++++ Projects Section +++++ -->

<!-- Our Work Section -->
<div id="games" class="page">
	<div class="container">
		<!-- Title Page -->
		<div class="row">
			<div class="col-sm-12">
				<div class="title-page">
					<h2 class="title text_align_center">Our Games</h2>
					<h3 class="title-description text_align_center">Play our game on <a href="#">Play Store</a>.</h3>
				</div>
			</div>
		</div>
		<!-- End Title Page -->

		<!-- Portfolio Projects -->
		<div class="row">
			<div class="col-sm-12 text_align_center">
				<!-- Filter -->

				<nav id="options" class="work-nav">
				<div class="option-set btn-group mb filter-items" data-option-key="filter">
					<a href="#filter" class="filter-label btn default no-shadow active" data-option-value="*">All</a>
					<a href="#filter" class="filter-label btn default no-shadow" data-option-value=".runner">Runner</a>
					<a href="#filter" class="filter-label btn default no-shadow" data-option-value=".arcade">Arcade</a>
					<a href="#filter" class="filter-label btn default no-shadow" data-option-value=".adventure">Adventure</a>
				</div>
				</nav>

				<!-- End Filter -->
			</div>

			<div class="col-md-12">
				<div class="row">
					<section id="projects">
						<ul id="thumbs">

							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-md-3 no-pr runner">
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Botia And Friends" href="//matapanda-studio.firebaseapp.com/_include/img/games/thumbs/botia.png">
									<col-md- class="overlay-img"></col-md->
									<col-md- class="overlay-img-thumb font-icon-plus"></col-md->
								</a>
								<!-- Thumb Image and Description -->
								<img src="//matapanda-studio.firebaseapp.com/_include/img/games/thumbs/botia.png" alt="Botia and Friends is an adventure game inspired by Jambi ornamental fish 'Botia Macracantha'. The game challenges players to collaborate with Botia (and various indonesian fish) to carry out a rescue mission to safe the ocean from desctructive and illegal fishing.">
							</li>
							<!-- End Item Project -->

							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-md-3 no-pr arcade">
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Office" href="//matapanda-studio.firebaseapp.com/_include/img/work/full/image-02-full.jpg">
									<col-md- class="overlay-img"></col-md->
									<col-md- class="overlay-img-thumb font-icon-plus"></col-md->
								</a>
								<!-- Thumb Image and Description -->
								<img src="//matapanda-studio.firebaseapp.com/_include/img/work/thumbs/image-02.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
							</li>
							<!-- End Item Project -->

							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-md-3 no-pr adventure">
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="When Alien Solving Maths" href="//matapanda-studio.firebaseapp.com/_include/img/games/thumbs/alien.png">
									<col-md- class="overlay-img"></col-md->
									<col-md- class="overlay-img-thumb font-icon-plus"></col-md->
								</a>
								<!-- Thumb Image and Description -->
								<img src="//matapanda-studio.firebaseapp.com/_include/img/games/thumbs/alien.png" alt="When Alien Solving Math adalah sebuah game edutaiment yang dapat membantu mengasah kemampuan menjawab soal matematika. Pemain harus membantu Alien untuk mendapatkan koin sebanyak mungkin, mengalahkan musuh dan menjawab soal dalam permainan agar dapat menyelesaikan permainan.">
							</li>
							<!-- End Item Project -->
						</ul>
					</section>

				</div>
			</div>
		</div>
		<!-- End Portfolio Projects -->
	</div>
</div>
<!-- End Our Work Section -->
